.statistics {
    margin: 50px auto;
    width: 300px;
    background-color: white;
    box-shadow: 0 0 4px 4px rgb(184, 178, 178);

}

.title {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 48px;
}