.item__list {
display: flex;
width: 100%;
}

.item {
    flex-basis: 20%;
    padding-top: 12px;
    padding-bottom: 24px;
}

.label {
    margin-bottom: 5px;
}

.label,
.percentage {
    display: block;
    text-align: center;
    color: white;
}

.percentage {
    font-size: 20px;
    font-weight: 700;
}